# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.production

# Java & Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
